#footer
	.footer-top
		.container
			ul.list-inline.pull-left.list-information
				li.list-inline-item
					a(href='') Về Livestar
				li.list-inline-item
					| /
				li.list-inline-item
					a(href='') Điều kiện sử dụng
				li.list-inline-item
					| /
				li.list-inline-item
					a(href='') Quy định bảo mật
			ul.list-inline.pull-right.hotline
				li.list-inline-item
					img.image(src='/assets/images/hotline.png')
				li.list-inline-item
					| HOTLINE
				li.list-inline-item
					| |
				li.list-inline-item
					| 091324543543
	.footer-bottom
		.container
			.col-md-3
				.head Copyright@Pateco VietNam 2017
				.row
					.col-md-3.title Website
					.col-md-8.value www.livestar.vn
				.row
					.col-md-3.title Địa chỉ
					.col-md-8.value toa nha abc, duong, quan, phuong
				.row
					.col-md-3.title Email
					.col-md-8.value jnefijbi@email.com
			.col-md-3
				.head Tải app miễn phí
				.android-ios
					i.fa.fa-android
					|           Android Download
				.android-ios
					i.fa.fa-apple
					|           IOS Download
			.col-md-3
				.head Kết nối với chúng tôi
				i.fa.fa-facebook.social-icon
				i.fa.fa-youtube.social-icon
				i.fa.fa-twitter.social-icon
				i.fa.fa-google-plus.social-icon
			.col-md-3
				.head Subscribes
				form.form-horizontal.form-subscrice
					input.form-control(type='text', placeholder='Your email')
					button.btn.btn-subsrice(type='button') Gửi
