.nav_top_register_login
	.container
		.col-md-6
			img.image-logo-home(src='/assets/images/logo.png' ui-sref='base')
		.col-md-6
			ul.list-inline.text-right.list-link
				li.list-inline-item
					a(href='' ui-sref='base.register')
						i.fa.fa-user
						|             Đăng Kí
				li.list-inline-item
					a(href='')
						i.fa.fa-sign-in
						|             Đăng Nhập

.menu_main
	.container
		.col-md-6.menu_main_list
			.row
				.col-md-4.menu_main_list_item
					a(href='')
						i.fa.fa-video-camera
						|  Kênh On Air
				.col-md-4.menu_main_list_item
					a(href='')
						i.fa.fa-calendar-o
						|  Lịch Phát Sóng
				.col-md-4.menu_main_list_item.lasted
					a(href='')
						i.fa.fa-bell
						|  Tin Tức
		.col-md-6.search-form-top
			form.pull-right(action='')
				.input-group
					input.form-control(type='Search', placeholder='Nhập tên idol hoặc từ khoá...')
					.input-group-btn
						button.btn.btn-default
							i.fa.fa-search
