.container
	.about_us.wrapper
		h1 GiftCode Event
		hr
		.row
			.col-md-12.text
				h4 Chào các Trai xinh – Gái đẹp của YUP !
				p Trong tháng 12 tới, YUP sẽ tổ chức các sự kiện Offline tại các trường Đại Học tại Hà Nội.
				p Bên cạnh sự tham dự của dàn Hot Girl cực “khủng” cùng sự kiện “ Hug me and Take Money”, 3.000 Giftcode tổng trị giá 150 triệu đồng sẽ được phát ra.
			.col-md-12.text
				ul.bold
					li Thời gian: từ 10h30 – 13h30
					li Các ngày diễn ra sự kiện: Update soon.
					li Danh sách các trường Đại Học: Update soon.
			.col-md-12.text
				p Thật hấp dẫn phải không nào. Các bạn hãy chuẩn bị tinh thần để chuẩn bị “Ôm được Girl xinh – rinh ngàn Giftcode” nhé !
