<!--redeem_Code-->
<div class="content-box" id="redeem_Code">
  <div class="content-body">
    <div class="title">
      Nhập mã Redeem Code
    </div>
    <input type="text" class="form-control " name="input_redeem_Code" id="input_redeem_Code" />

    <div class="form-group captcha-group">
      <div id="captcha-redeem-code"></div>
    </div>

    <div class="group-btn">
      <button type="button" class="btn btn-primary" id="btn_submit_redeem_Code"> Thanh toán</button>
    </div>
  </div>
</div>
<!--end redeem_Code-->