<!--Thẻ cào điện thoại -->
<div id="mobile_Card">
  <div class="head-title">Chọn gói (1 Ucoin = 100 <sup>vnđ</sup>)</div>
  <div class="content">
    <div class="title">1. Chọn nhà mạng</div>
    <div class="body">
      <input id="mobile_Provider" type="text" value="" style="display: none" />
      <% if( providers && providers.length > 0){ %>
      <% providers.forEach(function(provider,key){ %>
      <div onclick="mobileCardSelectProvider(this);" class="provider" data-source-id="<%= provider.id %>" data-code="<%= provider.code %>" > <%= provider.name %> </div>
      <% }) %>
      <% } %>
    </div>

    <div class="title">2. Nhập mã thẻ cào</div>
    <div class="body">
      <input type="text" class="form-control " name="pin" id="mobile_Code" />
    </div>

    <div class="title">3. Nhập số seri</div>
    <div class="body">
      <input type="text" class="form-control " name="serial" id="mobile_Serial" />
    </div>

    <div class="captcha-group">
      <div id="captcha-card"></div>
    </div>

    <button type="button" class="btn btn-primary" id="btn-payment-by-card-for-app"> Thanh toán</button>

  </div>
</div>
<!--end the cao dien thoai-->