<div id="payment" class="main">
	<div class="main-container container">
		<div class="payment-block">
			<div class="wrapper">


				<div class="title-block">
					<div class="image">
						<img src="/assets/paymentforapp/images/payment/property.png" alt="Propert" />
					</div>
					<h1 class="heading separator">
            <% if( typeof(message) != "undefined" && message) { %>
              <p class="color-primary text"><%= message %> </p>
            <% } %>
            <% if( typeof(status) != "undefined" && status) { %>
              <p class="color-primary text">Code: <%= status %></p>
            <% } %>
					</h1>
				</div>

				<div class="payment-result-block">
					<div class="description">
            <% if(typeof (user) != "undefined" && user) { %>
              <p>
                Tài khoản <span class="user-name color-primary"><%= user.name %></span> đã nạp tiền thành công.
              </p>
              <p>
                Tài khoản của bạn hiện có : <span class="user-coin color-primary" data-unit="ucoin"><%= user.money %></span> ucoin.
              </p>
            <% } %>
          </div>
				</div>


			</div>
		</div>
	</div>
</div>

