<div id="payment-huong-dan">
   <h1 class="main-title">HƯỚNG DẪN NẠP UCOIN </h1>
  <h2 class="title">1. CÁCH NẠP QUA SMS </h2>
  <div class="block-content">
    <div class="sub-title">Bước 1: Click vào biểu tượng SMS</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/sms_1.png" /></div>
    <div class="sub-title">Bước 2: Tìm theo nhà mạng và Click vào gói Ucoin bạn muốn nạp</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/sms_2.png" /></div>
    <div class="sub-title">Bước 3: Nhấn Nhắn tin để chuyển sang màn hình soạn tin nhắn trên thiết bị di động hoặc Nhấn Đóng và soạn cú pháp hiển thị trên màn hình rồi gửi đến 9029</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/sms_3.png" /></div>
    <div class="sub-title">Bước 4: Bạn vui lòng chờ trong giây lát để nhận thông báo kết quả nạp Ucoin.</div>
  </div>


  <h2 class="title">2. CÁCH NẠP BẰNG THẺ CÀO ĐIỆN THOẠI</h2>
  <div class="block-content">
    <div class="sub-title">Bước 1: Click vào biểu tượng Thẻ cào điện thoại</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/card_1.png" /></div>
    <div class="sub-title">Bước 2: Chọn nhà mạng mà bạn muốn nạp</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/card_2.png" /></div>
    <div class="sub-title">Bước 3: Điền mã thẻ cào trên thẻ nạp vào ô bên dưới</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/card_3.png" /></div>
    <div class="sub-title">Bước 4: Nhập số seri trên thẻ nạp vào ô bên dưới.</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/card_4.png" /></div>
    <div class="sub-title">Bước 5: Sau khi nhấn Thanh toán, bạn vui lòng chờ trong giây lát để nhận thông báo kết quả nạp Ucoin. </div>
  </div>


  <h2 class="title">3. CÁCH NẠP BẰNG INTERNET BANKING</h2>
  <div class="block-content">
    <div class="sub-title">Bước 1: Click vào biểu tượng Internet Banking</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/bank_1.png" /></div>
    <div class="sub-title">Bước 2: Chọn gói Ucoin bạn muốn nạp</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/bank_2.png" /></div>
    <div class="sub-title">Bước 3: Nhấp vào để hiển thị các ngân hàng và lựa chọn 1 Ngân hàng để tiếp tục thanh toán</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/bank_3.png" /></div>
    <div class="sub-title">Bước 4: Sau khi nhấn Thanh toán, bạn vui lòng chờ trong giây lát để nhận thông báo kết quả nạp Ucoin.</div>
  </div>


  <h2 class="title">4. CÁCH NẠP BẰNG MÃ CODE</h2>
  <div class="block-content">
    <div class="sub-title">Bước 1: Click vào biểu tượng Redeem Code</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/redeem_code_1.png" /></div>
    <div class="sub-title">Bước 2: Nhập mã code bạn nhận được vào ô bên dưới</div>
    <div><img class="img-huong-dan" src="/assets/paymentforapp/images/huong-dan/redeem_code_2.png" /></div>
    <div class="sub-title">Bước 3: Sau khi nhấn Thanh toán, bạn vui lòng chờ trong giây lát để nhận thông báo kết quả nạp Ucoin.</div>
  </div>
</div>

<%- contentFor('appcss') %>
<link rel="stylesheet" href="/assets/paymentforapp/css/main.css" type="text/css" />
<%- contentFor('appjs') %>