.home-on-air-channel
	.title
		img(src='/images/onair_title.png')
		span KÊNH ON AIR
	.content.row(ng-if='listOnAir && listOnAir.length <= 0')
		.col-md-12
			|Không có room nào đang diễn

	.content.row(ng-if='listOnAir && listOnAir.length > 0 && listOnAir[0]')
		.left.col-md-4
			.content-left
				img.onair-image(src='{{listOnAir[0].banners.banner || listOnAir[0].User.avatars_path.avatar}}'
				ui-sref='base.room-detail({id : listOnAir[0].id})')
				.bottom
					.name(style='cursor:pointer;' ui-sref='base.room-detail({id : listOnAir[0].id})')
						|{{listOnAir[0].User.name || listOnAir[0].title}}
					.group-icon
						i.fa.fa-eye
						span {{listOnAir[0].views}}
						i.fa.fa-heart
						span {{listOnAir[0].hearts}}
						.btn-lock(ng-if='listOnAir[0].mode == 2')
							i.fa.fa-lock
				.on-air-icon(ng-if='listOnAir[0].onAir==true')
					.icon &nbsp;
					span LIVE
		.right.col-md-8
			.row
				.col-md-4(ng-repeat='room in listOnAir | limitTo : 7' ng-if='$index > 0')
					.onair-child
						img.img-responsive(src='{{room.banner || room.background || room.User.avatar || "http://via.placeholder.com/150x150"}}'
						ui-sref='base.room-detail({id : room.id})')
						.bottom
							.group
								.name(style='cursor:pointer;' ui-sref='base.room-detail({id : room.id})')
									|{{room.User.name || room.title}}
								.icon
									i.fa.fa-eye
									span {{room.views}}
									i.fa.fa-heart
									span {{room.hearts}}
								.btn-lock(ng-if='room.mode == 2')
									i.fa.fa-lock
						.on-air-icon(ng-if='room.onAir==true')
							.icon &nbsp;
							span LIVE
	.view-more(ng-if='listOnAir && listOnAir.length > 7')
		a.text.pull-right(ui-sref='base.on-air')
			| Xem tất cả
			img(src='/images/view_more.png')
