<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="Giải trí, ca hát, nhảy múa, giao lưu, ngôi sao, idol, hot girl, trò chuyện, Hallostar, trực tuyến, live chat, Hari Won" />
  <meta name="google-site-verification" content="RV80MBb3SMqko-cCcIiDv0elsJY_grpssJ2ofbPEmTg" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

  <title>Download App</title>
  <!--<link rel="icon" type="image/png" href="/assets/paymentforapp/images/favicon.png" />-->
  <link rel="stylesheet" href="/assets/down-app/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/down-app/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="/assets/down-app/css/style.css" type="text/css" />
  <script type="text/javascript" src="/assets/paymentforapp/js/jquery-1.12.1.min.js"></script>
</head>
<body>
  <div class="text-center">
    <img style="width: 150px;" src="/assets/down-app/Logo.png"/>
  </div>
  <div class="tang-50k text-center" style="position: relative;">
    <img style="width: 100%;" src="/assets/down-app/banner.jpg">
    <div class="button-down-app-android">
      <a href="https://play.google.com/store/apps/details?id=yup.livestream.hotgirl&hl=en">
        <img style="width: 100%;" src="/assets/down-app/Top_Button_Android.png" />
      </a>
    </div>
  </div>

  <div class="text-center" style="margin: 20px 0;">
    <img style="width: 100%;" src="/assets/down-app/Image_1.jpg"/>
    <h1 class="main-title">
      Tự tin toả sáng <br/>
      Thoả sức kiếm tiền
    </h1>
    <p class="sub-title">
      YUP - Ứng dụng quay và xem livestream đa chuyên mục, <br>
      chia sẻ tới 70% lợi nhuận cho các đối tác và streamer.
    </p>
    <p class="sub-title">
      Tham gia ngay cộng đồng Yup đông đảo và thoả sức kiếm tiền mọi lúc mọi nơi.
    </p>
  </div>

  <div class="text-center" style="margin: 50px 0 30px 0;">
    <img style="width: 100%;" src="/assets/down-app/Image_2.jpg"/>
    <h1 class="main-title">
      Cho đi là nhận lại <br/>
      Yêu thương
    </h1>
    <p class="sub-title">
      Theo dõi lịch diễn của các streamer và xem chương trình,<br>
      Gửi ngàn quà tặng nhận triệu yêu thương từ streamer.
    </p>
  </div>

  <div class="text-center" style="margin: 20px 0 30px 0;">
    <a href="https://itunes.apple.com/vn/app/yup/id1294969432?mt=8">
      <img style="width: 100%;" src="/assets/down-app/Bottom_Button_iOS.png"/>
    </a>
  </div>
  <div class="row facebook-phone-group" >
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <a href="https://www.facebook.com/YUPLIVE/">
        <img class="img-facebook"  src="/assets/down-app/facebook.png" />
      </a>
      <img class="img-phone"  src="/assets/down-app/phone.png" />
    </div>
  </div>

  <div class="copyright text-center">
    <i class="fa fa-copyright"></i> Copyright 2017 - <b>YupTV</b>
  </div>



<script type="text/javascript" src="/assets/paymentforapp/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/notify.min.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/pmodal.js"></script>
<script type="text/javascript" src='/assets/paymentforapp/js/moment.js'></script>
</body>
</html>
