<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="Giải trí, ca hát, nhảy múa, giao lưu, ngôi sao, idol, hot girl, trò chuyện, Hallostar, trực tuyến, live chat, Hari Won" />
  <!--<meta name="google-site-verification" content="h-QYYs7x_vyp8Xrad1n7dVr-ogKxkFds4jHU7q7m8KQ" />-->
  <meta name="google-site-verification" content="RV80MBb3SMqko-cCcIiDv0elsJY_grpssJ2ofbPEmTg" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese" rel="stylesheet" />
  <!-- Facebook -->
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="fb:app_id" content="1546370315661210" />
  <meta property="fb:pages" content="1182940155053562" />
  <title>Download App</title>
  <link rel="icon" type="image/png" href="/assets/paymentforapp/images/favicon.png" />
  <link rel="stylesheet" href="/assets/paymentforapp/css/main.css" type="text/css" />
  <script type="text/javascript" src="/assets/paymentforapp/js/jquery-1.12.1.min.js"></script>
</head>
<body>
  <div class="text-center">
    <img style="width: 150px;" src="/assets/down-app/Logo.png"/>
  </div>
  <div class="tang-50k text-center" style="position: relative;">
    <img style="width: 100%;" src="/assets/down-app/banner.jpg">
    <div style="position: absolute;bottom: -20%;">
      <a href="https://itunes.apple.com/vn/app/yup/id1294969432?mt=8">
        <img style="width: 100%;" src="/assets/down-app/Top_button.png" />
      </a>
    </div>
  </div>

  <div class="text-center" style="margin: 20px 0;">
    <img style="width: 100%;" src="/assets/down-app/Image_1.jpg"/>
    <h1 style="margin: 30px 0;">
      Tự tin toả sáng <br/>
      Thoả sức kiếm tiền
    </h1>
    <p>
      YUP - Ứng dụng quay và xem livestream đa chuyên mục, <br>
      chia sẻ tới 70% lợi nhuận cho các đối tác và streamer.
    </p>
    <p>
      Tham gia ngay cộng đồng Yup đông đảo và thoả sức kiếm tiền mọi lúc mọi nơi.
    </p>
  </div>

  <div class="text-center" style="margin: 50px 0 30px 0;">
    <img style="width: 100%;" src="/assets/down-app/Image_2.jpg"/>
    <h1 style="margin: 30px 0;">
      Cho đi là nhận lại <br/>
      Yêu thương
    </h1>
    <p>
      Theo dõi lịch diễn của các streamer và xem chương trình,<br>
      Gửi ngàn quà tặng nhận triệu yêu thương từ streamer.
    </p>
  </div>

  <div class="text-center" style="margin: 20px 0;">
    <a href="https://itunes.apple.com/vn/app/yup/id1294969432?mt=8">
      <img style="width: 100%;" src="/assets/down-app/Bottom_Button.png"/>
    </a>
  </div>
  <div class="row" style="margin: 20px 0;">
    <div class="col-sm-6 col-xs-6 text-right">
      <a href="https://www.facebook.com/YUPLIVE/">
        <img style="width: 100%;" src="/assets/down-app/facebook.png" />
      </a>
    </div>
    <div class="col-sm-6 col-xs-6 text-left">
      <img style="width: auto; height: 40px;" src="/assets/down-app/phone.png" />
    </div>
  </div>

  <div style="background: #f1f1f1; padding: 20px 0;" class="text-center">
    @ Copyright 2017 - <b>YupTV</b>
  </div>



<script type="text/javascript" src="/assets/paymentforapp/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/notify.min.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/pmodal.js"></script>
<script type="text/javascript" src='/assets/paymentforapp/js/moment.js'></script>
</body>
</html>
