<div id="footer">
  <div class="footer-top">
    <div class="container">
      <ul class="list-inline pull-left list-information">
        <li class="list-inline-item">
          <a href="">Về Livestar</a>
        </li>
        <li class="list-inline-item">
          /
        </li>
        <li class="list-inline-item">
          <a href="">Điều kiện sử dụng</a>
        </li>
        <li class="list-inline-item">
          /
        </li>
        <li class="list-inline-item">
          <a href="">Quy định bảo mật </a>
        </li>
      </ul>

      <ul class="list-inline pull-right hotline">
        <li class="list-inline-item">
          <img src="/assets/images/hotline.png" />
        </li>
        <li class="list-inline-item">
          HOTLINE
        </li>
        <li class="list-inline-item">
          |
        </li>
        <li class="list-inline-item">
          091324543543
        </li>
      </ul>

    </div>
  </div>



  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-3">
        <div class="head">Copyright @ pateco 2017</div>
        <div class="row">
          <div class="col-md-3 title">website</div>
          <div class="col-md-8 value">www.livestar.vn</div>
        </div>
        <div class="row">
          <div class="col-md-3 title">dia chi</div>
          <div class="col-md-8 value">toa nha abc, duong, quan, phuong</div>
        </div>
        <div class="row">
          <div class="col-md-3 title">email</div>
          <div class="col-md-8 value">jnefijbi@email.com</div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="head">Tải app miễn phí </div>
        <div class="android-ios">
          <i class="fa fa-android"></i>
          Android Download
        </div>
        <div class="android-ios">
          <i class="fa fa-apple"></i>
          IOS Download
        </div>
      </div>
      <div class="col-md-3">
        <div class="head">Kết nối với chúng tôi</div>
        <i class="fa fa-facebook social-icon"></i>
        <i class="fa fa-youtube social-icon"></i>
        <i class="fa fa-twitter social-icon"></i>
        <i class="fa fa-google-plus social-icon"></i>
      </div>
      <div class="col-md-3">
        <div class="head">Subscribes</div>
        <form class="form-horizontal form-subscrice">
          <input class="form-control" type="text" placeholder="Your email">
          <button type="button" class="btn btn-subsrice ">Gửi</button>
        </form>
      </div>
    </div>
  </div>

</div>