<div class="row menu_main">
  <div class="container ">
    <div class="col-md-6 menu_main_list">
      <div class="row">
        <div class="col-md-4"><i class="fa fa-video-camera"></i>&nbsp;Kênh On Air</div>
        <div class="col-md-4"><i class="fa fa-file"></i>&nbsp;Lịch Phát Sóng</div>
        <div class="col-md-4"><i class="fa fa-bell"></i>&nbsp;Tin Tức</div>
      </div>
    </div>
    <div class="col-md-6 search-form-top">
      <form action="" class="pull-right">
        <div class="input-group">
          <input type="Search" placeholder="Search..." class="form-control" />
          <div class="input-group-btn">
            <button class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>