<div class="row menu_main">
  <div class="container ">
    <div class="col-md-6 menu_main_list">
      <div class="row">
        <div class="col-md-4 menu_main_list_item">
          <a href=""><i class="fa fa-video-camera"></i>&nbsp;Kênh On Air</a>
        </div>
        <div class="col-md-4 menu_main_list_item">
          <a href=""><i class="fa fa-calendar-o"></i>&nbsp;Lịch Phát Sóng</a>
        </div>
        <div class="col-md-4 menu_main_list_item lasted">
          <a href=""><i class="fa fa-bell"></i>&nbsp;Tin Tức</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 search-form-top">
      <form action="" class="pull-right">
        <div class="input-group">
          <input type="Search" placeholder="Nhập tên idol hoặc từ khoá..." class="form-control" />
          <div class="input-group-btn">
            <button class="btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>