<div class="row nav_top_register_login">
  <div class="container ">
    <div class="col-md-6">
      <img src="/assets/images/logo.png" />
    </div>
    <div class="col-md-6">
      <ul class="list-inline text-right list-link">
        <li class="list-inline-item">
          <i class="fa fa-user"></i>
          Đăng Kí
        </li>
        <li class="list-inline-item">
          <i class="fa fa-sign-in"></i>
          Đăng Nhập
        </li>
      </ul>
    </div>
  </div>
</div>