.login-modal
	i.fa.fa-close(ng-click='cancel()')
	.modal-body
		h3.text-left.text-login ĐĂNG NHẬP
		.error.text-center.text-danger(ng-if='login.error') {{login.error}}

		input.form-control(type='text', ng-model='login.phone' placeholder='Số điện thoại ')
		input.form-control(type='password', ng-model='login.password' placeholder='Mật khẩu ')

		.group.margin-bottom-30
			//.left
				input(type='checkbox' ng-model='login.storeInformation' style='display:none;')
				|&nbsp; Lưu thông tin
			.pull-right
				a(style='cursor: pointer;' ng-click='gotoForgetPass()' )
					span.text-quen-mat-khau Quên mật khẩu
		.clearfix

		button.login.text-center(type='button' ng-click='submitLogin()')
			span.text-btn-login ĐĂNG NHẬP
		button.login.facebook.text-center(type='button' ng-click='loginFacebook()')
			i.fa.fa-facebook
			span.text-btn-login &nbsp; ĐĂNG NHẬP BẰNG FACEBOOK

		.text-center.not-have-acc
			span.text-chua-co-tai-khoan Chưa có tài khoản, đăng ký
			a.link-register(ng-click='goRegister()' ) &nbsp; tại đây
			//button.btn.btn-warning(ng-click='cancel()') Cancel
			//input.btn.btn-primary(type='submit', value='Submit')
