.schedule-modal-detail
	.text-right
		i.fa.fa-close(ng-click='cancel()')
	.modal-body
		.group-image
			img.img-responsive.image(src='{{item.User.avatars_path.avatar}}')
		.group-name
			span.text-left.title-main {{item.title}}
			button.btn-follow(ng-if='item.isFollow == false'
			ng-click='clickFollowRoomInSchedule(item)'
			) Theo dõi
			.group-icon
				i.fa.fa-eye
				span {{item.views}}
				i.fa.fa-heart-o
				span {{item.hearts}}
		.content
			table.table.table-bordered
				tr
					td
						.title Ngày diễn
					td
						.title Khung giờ
				tr(ng-if='list && list.length <= 0')
					td(colspan='2') Không có lịch diễn nào

				tr( ng-repeat='ite in list' ng-if='list && list.length > 0')
					td
						//span.label-hour Hôm nay, 9 tháng 9,17
						span.label-hour {{ite.start | date : 'dd-MM-yyyy'}}
					td
						span.hour {{ite.start | date : 'HH:mm' }}
						//button.pull-right.btn-follow.btn-get-noty Nhận thông báo
