ul(class="bxslider" )
	li(ng-repeat='item in items')
		.image-idol(ng-click='onItemClick(item, $index)'
		ng-class='{"selected":item.active == true}')
			img.img-responsive.image-idol(src='{{item.User.avatars_path.avatar}}')
			button
				i.fa.fa-angle-right
			p.text-center.name-idol {{item.name || item.title}}