
home-slider

.container(style='margin-top:10px;')
	.col-md-9(style='padding:0 10px 0 0;')
		home-on-air-channel
	.col-md-3(style='padding:0;')
		home-bxh-channel

.home-menu-category
	.container
		.row
			.col-md-12
				ul.list-inline
					li.list-inline-item(ng-repeat='groupIdo in groupIdol')
						a(href='')
							|{{groupIdo.title}}
						span(ng-if=' !$last ') &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;


.container.home-block-content(ng-repeat='groupIdo in groupIdol')
	.group-title.col-md-12
		.left
			a(ui-sref='base.group-idol' href='{{groupIdo.slug}}' id='{{groupIdo.id}}')
				i.fa.fa-play-circle-o
				span       &nbsp; {{groupIdo.title}}
		.right.pull-right
			a(ui-sref='base.group-idol' href='{{groupIdo.slug}}' id='{{groupIdo.id}}')
				span xem thêm &nbsp;
				i.fa.fa-arrow-circle-right
	.group-content
		.col-md-2(ng-repeat='room in groupIdo.Rooms | limitTo : 6')
			.item
				a(ui-sref='base.room-detail')
					img.item-image(src='{{room.banners.banner}}')
					p(style='display: none;') {{room.banners.banner}}
				.item-group.row
					.item-title.col-md-8
						a(ui-sref='base.room-detail')
							p.title {{room.title}}
						i.fa.fa-eye
						span.value {{room.views}} &nbsp;&nbsp;
						i.fa.fa-heart
						span.value {{room.hearts}}
					.item-favorite.col-md-3
						i.fa.fa-plus-circle
