
home-slider

.container(style='margin-top:10px;')
	.col-md-9(style='padding:0 10px 0 0;')
		home-on-air-channel
	.col-md-3(style='padding:0;')
		home-bxh-channel

.home-menu-category
	.container
		.row
			.col-md-12
				ul.list-inline
					li.list-inline-item
						a(href='')
							|Tất cả
					li.list-inline-item
						|/
					li.list-inline-item
						a(href='')
							|             Âm nhạc
					li.list-inline-item
						| /
					li.list-inline-item
						a(href='')
							|             Phim ảnh
					li.list-inline-item
						| /
					li.list-inline-item
						a(href='')
							|            Ca nhạc


.container.home-block-content
	.group-title.col-md-12
		.left
			i.fa.fa-play-circle-o
			span       &nbsp; ÂM NHẠC
		.right.pull-right
			span xem thêm &nbsp;
			i.fa.fa-arrow-circle-right
	.group-content
		- for (var i = 0; i < 6; ++i)
			.col-md-2
				.item
					img.item-image(src='/images/image_am_nhac.png')
					.item-group.row
						.item-title.col-md-8
							p.title Soobin Hoang Son
							i.fa.fa-eye
							span.value 10.111 &nbsp;
							i.fa.fa-heart
							span.value 25.011
						.item-favorite.col-md-3
							i.fa.fa-plus-circle
