
home-slider

.container(style='margin-top:10px;')
	.col-md-9(style='padding:0 10px 0 0;')
		home-on-air-channel
	.col-md-3(style='padding:0;')
		home-bxh-channel

.home-menu-category
	.container
		.row
			.col-md-12
				ul.list-inline
					li.list-inline-item(ng-repeat='groupIdo in listCategory')
						a(ui-sref='base.category({id:groupIdo.id})')
							span() {{groupIdo.title}}
						span(ng-if=' !$last ' style='display:inline-block;margin: 0 15px;') /


.container.home-block-content(ng-repeat='groupIdo in groupIdol' ng-if='groupIdo && groupIdo.Rooms.length > 0')
	.group-title.col-md-12
		.left
			a(ui-sref='base.category({id:groupIdo.id})'  id='{{groupIdo.id}}')
				i.fa.fa-play-circle-o
				span       &nbsp; {{groupIdo.title}}
		.right.pull-right(ng-if='groupIdo.Rooms.length > 6')
			a(ui-sref='base.category({id:groupIdo.id})'  id='{{groupIdo.id}}')
				span xem thêm &nbsp;
				i.fa.fa-arrow-circle-right
	.group-content
		.col-md-2(ng-repeat='room in groupIdo.Rooms | limitTo : 6')
			.item
				a(ui-sref='base.room-detail({id : room.id})')
					img.item-image(src='{{room.banner || room.background || room.User.avatar || "http://via.placeholder.com/185x185" }}')
				.item-group.row
					.item-title.col-md-8
						a(ui-sref='base.room-detail({id : room.id})')
							p.title {{room.title}}
						i.fa.fa-eye
						span.value {{room.views}} &nbsp;&nbsp;
						i.fa.fa-heart
						span.value {{room.hearts}}
					.item-favorite.col-md-3.pointer(
					ng-if='room.isFollow == false'
					ng-click='homeClickFollowIdol(room, groupIdo.id, $index)')
						i.fa.fa-plus-circle
