.container.home-block-content
	.group-title.col-md-12
		.left
			i.fa.fa-play-circle-o
			|       &nbsp; ÂM NHẠC
		.right.pull-right
			| xem thêm &nbsp;
			i.fa.fa-arrow-circle-right
	.group-content
		- for (var i = 0; i < 6; ++i)
			.col-md-2
				.item
					img.item-image(src='/images/image_am_nhac.png')
					.item-group.row
						.item-title.col-md-8
							p.title Soobin Hoang Son
							i.fa.fa-eye
							span.value 10.111 &nbsp;
							i.fa.fa-heart
							span.value 25.011
						.item-favorite.col-md-3
							i.fa.fa-plus-circle
