.nav_top_register_login{
  padding: 5px 0;
}

.menu_main{

  vertical-align: middle;
  padding: 0;
  line-height: 35px;
  background: #00bf74;
  .menu_main_list{
    line-height: 50px;
  }
  .search-form-top{
    .input-group{
      width: 350px;
      margin-top: 7.5px;
    }
  }
}