doctype html
html
	head
		base(href='/')
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='description', content='')
		meta(name='keywords', content='Giải trí, ca hát, nhảy múa, giao lưu, ngôi sao, idol, hot girl, trò chuyện, Hallostar, trực tuyến, live chat, Hari Won')
		meta(name='google-site-verification', content='RV80MBb3SMqko-cCcIiDv0elsJY_grpssJ2ofbPEmTg')
		link(href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese" rel="stylesheet")
		// Facebook
		meta(property='og:url', content='')
		meta(property='og:title', content='')
		meta(property='og:type', content='article')
		meta(property='og:description', content='')
		meta(property='og:image', content='')
		meta(property='fb:app_id', content='1546370315661210')
		meta(property='fb:pages', content='1182940155053562')

		meta(name='twitter:title', content='')
		meta(name='twitter:description', content='')
		meta(name='twitter:image:src', content='')

		meta(itemprop='name', content='')
		meta(itemprop='description', content='')
		meta(itemprop='image', content='')

		title YUP
		link(rel="icon" type="image/png" href="/images/favicon.png")
		link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
		link(rel='stylesheet', href='/css/font-awesome.css', type='text/css')
		link(rel='stylesheet', href='/css/ui-carousel.css', type='text/css')
		link(rel='stylesheet', href='/css/angular-ui-notification.css', type='text/css')
		link(rel='stylesheet', href='/css/ngProgress.css', type='text/css')
		link(rel='stylesheet', href='/css/loading-bar.css', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap-toggle.min.css', type='text/css')
		link(rel='stylesheet', href='/css/angular-datepicker-720.css', type='text/css')
		link(rel='stylesheet', href='/css/bxslider.css', type='text/css')
		// STYLES
		// STYLES END

		script(type='text/javascript', src='/js/jquery-1.12.1.min.js')
		script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=vi')
		script(type='text/javascript').
			// Captcha google
			var widgetCard;
			var widgetMegabank;
			var onloadCallback = function()
			{
				//console.log('load gg captcha ok, render captcha');
				//console.log('grecaptcha=', grecaptcha);
				if ( window.location.pathname.indexOf('paymentforapp') != -1)
				{
					widgetCard = grecaptcha.render('captcha-card', {
						'sitekey' : '6Lc0MDAUAAAAAE9gOerDRuT3fAAxIpYf0lZWamqr', // http://dev.livestar.vn:8000/paymentforapp
						'theme' : 'light'
					});
					widgetMegabank = grecaptcha.render('captcha-payment', {
						'sitekey' : '6Lc0MDAUAAAAAE9gOerDRuT3fAAxIpYf0lZWamqr', // http://dev.livestar.vn:8000/paymentforapp
						'theme' : 'light'
					});
				}
			};

		//Start subiz
		script(type='text/javascript').
			window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",42905]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);
		//End subiz
	body
		popup-confirm
		header
		div(ui-view='main')
		footer

		script(type='text/javascript').
			window.ENV = 'production';
		if (process.env.NODE_ENV == 'development' || process.env.NODE_ENV == 'local')
			script(type = 'text/javascript').
				window.ENV = 'development';
		// SCRIPTS
		// SCRIPTS END


