.container
	.about_us.wrapper
		h1 Về YUP
		h5 Up stream, Up money

		hr
		.row
			.col-md-12.text
				br
				|YupTv là dịch vụ phát hình và tương tác trực tiếp trên internet. YupTv cho phép người sử dụng chủ động trong việc phát các nội dung giải trí, tương tác,
				|nhận quà tặng vật phẩm và quản lý fans trên nền internet.
				br
				br
				|Ngoài ra, YupTv còn cung cấp các chương trình giải trí tại Mini Studio bao gồm hài kịch và show ca nhạc với sự tham gia của các celebrites đến cộng đồng
				|người dùng.
		.row
			.col-md-12.text-center
				img.img-responsive(src='/images/Ve_Yup.png' style='margin: 0 auto;')