.col-md-12(ng-if='tab == "top-yeu-thich"')
	.row
		.col-md-12.text-center.item-first(ng-if='rankHeart[0]')
			.top
				img(src='{{rankHeart[0].User.avatars_path.w160h160}}')
			.name.text-center {{rankHeart[0].User.name}}
			.icon.text-center
				i.fa.fa-heart-o
				span {{rankHeart[0].User.Room.views}}
			button.btn-follow Theo d천i
		.col-md-12
			.row
				.col-md-2
				.col-md-4.item-second.text-center(ng-if='rankHeart[1]')
					.top
						img(src='{{rankHeart[1].User.avatars_path.w160h160}}')
					.name.text-center {{rankHeart[1].User.name}}
					.icon.text-center
						i.fa.fa-heart-o
						span {{rankHeart[1].User.Room.views}}
					button.btn-follow Theo d천i
				.col-md-4.item-thirst.text-center(ng-if='rankHeart[2]')
					.top
						img(src='{{rankHeart[2].User.avatars_path.w160h160}}')
					.name.text-center {{rankHeart[2].User.name}}
					.icon.text-center
						i.fa.fa-heart-o
						span {{rankHeart[2].User.Room.views}}
					button.btn-follow Theo d천i
				.col-md-2
		.col-md-12 &nbsp;
		.col-md-12.text-center.item(ng-repeat='rankItem in rankHeart | limitTo : 10', ng-if='$index > 2 && rankHeart.length > 3')
			.row
				.col-md-4
					.top.text-right
						img(src='{{rankItem.User.avatars_path.w160h160}}')
						.number {{$index+1}}
				.col-md-6.item-content
					.row
						.col-md-6
							.name.text-left {{rankItem.User.name}}
							.icon.text-left
								i.fa.fa-heart-o
								span &nbsp;{{rankItem.User.Room.views}}
						.col-md-6.text-right
							button.btn-follow Theo d천i