.col-md-12(ng-if='tab == "top-facebook"')
	.row
		.col-md-12.text-center.item-first(ng-if='rankFacebook[0]')
			.top
				img.logo(src='{{rankFacebook[0].User.avatar}}')
				img.background(src='/images/top1.png')
			.name.text-center {{rankFacebook[0].User.name}}
			.icon.text-center
				i.fa.fa-heart-o
				span {{rankFacebook[0].value}}
			button.btn-follow(ng-if='rankFacebook[0].User.Room.isFollow==false'
			ng-click='followIdol("facebook", rankFacebook[0] )' ) Theo d천i
		.col-md-12
			.row
				.col-md-2
				.col-md-4.item-second.text-center(ng-if='rankFacebook[1]')
					.top
						img.logo(src='{{rankFacebook[1].User.avatar}}')
						img.background(src='/images/top2.png')
					.name.text-center {{rankFacebook[1].User.name}}
					.icon.text-center
						i.fa.fa-heart-o
						span {{rankFacebook[1].value}}
					button.btn-follow(ng-if='rankFacebook[1].User.Room.isFollow==false'
					ng-click='followIdol("facebook", rankFacebook[1] )' ) Theo d천i

				.col-md-4.item-thirst.text-center(ng-if='rankFacebook[2]')
					.top
						img.logo(src='{{rankFacebook[2].User.avatar}}')
						img.background(src='/images/top3.png')
					.name.text-center {{rankFacebook[2].User.name}}
					.icon.text-center
						i.fa.fa-heart-o
						span {{rankFacebook[2].value}}
					button.btn-follow(ng-if='rankFacebook[2].User.Room.isFollow==false'
					ng-click='followIdol("facebook", rankFacebook[2] )' ) Theo d천i

				.col-md-2
		.col-md-12 &nbsp;
		.col-md-12.text-center.item(ng-repeat='rankItem in rankFacebook | limitTo : 10', ng-if='$index > 2 && rankFacebook.length > 3')
			.row
				.col-md-4
					.top.text-right
						img(src='{{rankItem.User.avatar}}')
						.number {{$index+1}}
				.col-md-6.item-content
					.row
						.col-md-6
							.name.text-left {{rankItem.User.name}}
							.icon.text-left
								i.fa.fa-heart-o
								span &nbsp;{{rankItem.value}}
						.col-md-6.text-right
							button.btn-follow(ng-if='rankItem.User.Room.isFollow==false'
							ng-click='followIdol("facebook", rankItem )' ) Theo d천i