.col-md-12(ng-if='tab == "top-facebook"')
	.row
		.col-md-12.text-center.item-first(ng-if='rankFacebook[0]')
			.top
				img.logo(src='{{rankFacebook[0].User.avatar || "http://via.placeholder.com/120x120" }}')
				img.background(src='/images/top1.png')
			.name.text-center {{rankFacebook[0].User.name}}
			.icon.text-center
				i.fa.fa-facebook
				span {{rankFacebook[0].value}}
			button-follow(ng-item='rankFacebook[0]' ng-type='"facebook"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )
		.col-md-12
			.row
				.col-md-2
				.col-md-4.item-second.text-center(ng-if='rankFacebook[1]')
					.top
						img.logo(src='{{rankFacebook[1].User.avatar || "http://via.placeholder.com/120x120" }}')
						img.background(src='/images/top2.png')
					.name.text-center {{rankFacebook[1].User.name}}
					.icon.text-center
						i.fa.fa-facebook
						span {{rankFacebook[1].value}}
					button-follow(ng-item='rankFacebook[1]' ng-type='"facebook"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )

				.col-md-4.item-thirst.text-center(ng-if='rankFacebook[2]')
					.top
						img.logo(src='{{rankFacebook[2].User.avatar || "http://via.placeholder.com/120x120" }}')
						img.background(src='/images/top3.png')
					.name.text-center {{rankFacebook[2].User.name}}
					.icon.text-center
						i.fa.fa-facebook
						span {{rankFacebook[2].value}}
					button-follow(ng-item='rankFacebook[2]' ng-type='"facebook"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )

				.col-md-2
		.col-md-12 &nbsp;
		.col-md-12.text-center.item(ng-repeat='rankItem in rankFacebook | limitTo : 30', ng-if='$index > 2 && rankFacebook.length > 3')
			.row
				.col-md-4
					.top.text-right
						img(src='{{rankItem.User.avatar || "http://via.placeholder.com/120x120" }}')
						.number {{$index+1}}
				.col-md-6.item-content
					.row
						.col-md-6
							.name.text-left {{rankItem.User.name}}
							.icon.text-left
								i.fa.fa-facebook
								span &nbsp;{{rankItem.value}}
						.col-md-6.text-right
							button-follow(ng-item='rankItem' ng-type='"facebook"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )