.col-md-12(ng-show='tab == "top-dai-gia"' class='{{tab}}')
	.row
		.col-md-12.text-center.item-first(ng-if='rankCoin[0]')
			.top
				img.logo(src='{{rankCoin[0].User.avatar || "/images/default_room.png" }}')
				img.background(src='/images/top1.png')
			.name.text-center {{rankCoin[0].User.name}}
			.icon.text-center
				img.img-responsive(src='/images/wallet.png')
				//span {{rankCoin[0].User.Room.views | thousandSuffix : 1 }}
				span {{rankCoin[0].value | thousandSuffix : 1 }}

			button-follow(ng-item='rankCoin[0]' ng-type='"coin"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )

		.col-md-12
			.row
				.col-md-2
				.col-md-4.item-second.text-center(ng-if='rankCoin[1]')
					.top
						img.logo(src='{{rankCoin[1].User.avatar || "/images/default_room.png" }}')
						img.background(src='/images/top2.png')
					.name.text-center {{rankCoin[1].User.name}}
					.icon.text-center
						img.img-responsive(src='/images/wallet.png')
						span {{rankCoin[1].value | thousandSuffix : 1}}
					button-follow(ng-item='rankCoin[1]' ng-type='"coin"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )

				.col-md-4.item-thirst.text-center(ng-if='rankCoin[2]')
					.top
						img.logo(src='{{rankCoin[2].User.avatar || "/images/default_room.png" }}')
						img.background(src='/images/top3.png')
					.name.text-center {{rankCoin[2].User.name}}
					.icon.text-center
						//i.fa.fa-heart-o
						img.img-responsive(src='/images/wallet.png')
						span {{rankCoin[2].value | thousandSuffix : 1}}

					button-follow(ng-item='rankCoin[2]' ng-type='"coin"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )
				.col-md-2
		.col-md-12 &nbsp;
		.col-md-12.text-center.item(ng-repeat='rankItem in rankCoin | limitTo : 30', ng-if='$index > 2 && rankCoin.length > 3')
			.row
				.col-md-4
					.top.text-right
						img(src='{{rankItem.User.avatar || "/images/default_room.png" }}')
						.number {{$index+1}}
				.col-md-6.item-content
					.row
						.col-md-6
							.name.text-left {{rankItem.User.name}}
							.icon.text-left
								img.img-responsive(src='/images/wallet.png')
								span &nbsp;{{rankItem.value | thousandSuffix : 1}}
						.col-md-6.text-right
							button-follow(ng-item='rankItem' ng-type='"coin"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )
