.col-md-12(ng-if='tab == "top-yeu-thich"' class='{{tab}}')
	.row
		.col-md-12.text-center.item-first(ng-if='rankHeart[0]')
			.top
				img.logo(src='{{rankHeart[0].User.avatar || "/images/default_room.png"}}')
				img.background(src='/images/top1.png')
			.name.text-center {{rankHeart[0].User.name}}
			.icon.text-center
				img.img-responsive.image(src='/images/money.png')
				span {{rankHeart[0].value | thousandSuffix : 1}}
			button-follow(ng-item='rankHeart[0]' ng-type='"heart"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )
		.col-md-12
			.row
				.col-md-2
				.col-md-4.item-second.text-center(ng-if='rankHeart[1]')
					.top
						img.logo(src='{{rankHeart[1].User.avatar || "/images/default_room.png"}}')
						img.background(src='/images/top2.png')
					.name.text-center {{rankHeart[1].User.name}}
					.icon.text-center
						img.img-responsive(src='/images/money.png')
						span {{rankHeart[1].value | thousandSuffix : 1}}
					button-follow(ng-item='rankHeart[1]' ng-type='"heart"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )

				.col-md-4.item-thirst.text-center(ng-if='rankHeart[2]')
					.top
						img.logo(src='{{rankHeart[2].User.avatar || "/images/default_room.png"}}')
						img.background(src='/images/top3.png')
					.name.text-center {{rankHeart[2].User.name}}
					.icon.text-center
						img.img-responsive(src='/images/money.png')
						span {{rankHeart[2].value | thousandSuffix : 1}}
					button-follow(ng-item='rankHeart[2]' ng-type='"heart"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )
				.col-md-2
		.col-md-12 &nbsp;
		.col-md-12.text-center.item(ng-repeat='rankItem in rankHeart | limitTo : 30', ng-if='$index > 2 && rankHeart.length > 3')
			.row
				.col-md-4
					.top.text-right
						img(src='{{rankItem.User.avatar || "/images/default_room.png" }}')
						.number {{$index+1}}
				.col-md-6.item-content
					.row
						.col-md-6
							.name.text-left {{rankItem.User.name}}
							.icon.text-left
								img.img-responsive(src='/images/money.png')
								span &nbsp;{{rankItem.value | thousandSuffix : 1}}
						.col-md-6.text-right
							button-follow(ng-item='rankItem' ng-type='"heart"' ng-action-follow='followIdol' ng-action-unfollow='unfollowIdol' )