.container
	.bang-xep-hang.wrapper
		h1 BẢNG XẾP HẠNG
		//h5 cập nhật ngày 06/09/2017
		hr
		.row
			.col-md-12.text-center
				ul.list-nav-bxh
					li(ng-class='{"active" : tab == "top-yeu-thich" }')
						a(ng-click='tab="top-yeu-thich"') Top yêu thích
					li(ng-class='{"active" : tab == "top-dai-gia" }')
						a(ng-click='tab="top-dai-gia"') Top đại gia
					li(ng-class='{"active" : tab == "top-facebook" }')
						a(ng-click='tab="top-facebook"') Top facebook

			include _top_yeu_thich
			include _top_dai_gia
			include _top_facebook






