.room-detail
	.container
		.col-md-12.content
			.row(style='background: #1b1b1b;')
				.col-md-8.top-nav
					ul.list-inline
						li.list-inline-item
							span.title-room {{item.title}}
						li.list-inline-item
							i.fa.fa-eye
							span(style='margin: 0 15px 0 5px;') {{item.views}}
							i.fa.fa-heart
							span(style='margin: 0 15px 0 5px;') {{item.hearts}}
					button.btn.btn-primary.pull-right.btn-schedule(ng-click='openLichDien()') Lịch phát sóng
				.col-md-4
					.text-center.text-top3 Top 3 quà tăng
			.row
				.col-md-8.room-content-left(style='padding:0;')
					.han-che-nguoi-xem
						p Chương trình hạn chế người xem
						p.text-center
							span Giá vé:
							span.price 100 Ucoin
						.buy-ticker
							button.btn.btn-primary
								span Mua vé
								i.fa.fa-play-circle
					.room-player(style='background-image: url("{{item.banner || item.background || item.User.avatar}}");')
					.list-qua-tang

				.col-md-4.room-content-right(style='padding:0;')
					.top-3-tang-qua
						.item.first
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.second
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.third
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
					.content-chat
						-for(var i=0; i<6; i++)
							.item
								img.image(src='http://via.placeholder.com/40x40')
								.group-name
									.name Phong Van
									.subname Ai chua xem reivew phat
								.time.pull-right 11:11
					.chat-form
						input.chat(type='text')
						.group-btn
							button.btn-smile
								i.fa.fa-smile-o
							button.btn-gift(ng-click='openListGift()')
								i.fa.fa-gift
							button.btn-send
								i.fa.fa-send

list-video-saved(ng-model='id')
list-gift(ng-model='id')
lich-dien-room-detail(ng-model='id')


