.bxh-channel
	.title
		.left
			img(src='/images/bxh_icon.png')
			span BXH Channel
		.right.pull-right
			//a(ng-if='listRank && listRank.length > 9' ui-sref='base.bang-xep-hang')
			a(ui-sref='base.bang-xep-hang')
				|xem thêm
	.content
		.row
			.col-md-4.item(ng-repeat='rankItem in listRank | limitTo : 9')
				.top
					//img(src='/images/bxh_item.png')
					img(src='{{rankItem.User.avatars_path.w160h160}}')
					button(ng-if='rankItem.User.Room.isFollow==false'
					ng-click='followIdolInHome(rankItem)')
						i.fa.fa-plus
				.name.text-center {{rankItem.User.name}}
				.icon.text-center
					i.fa.fa-rss
					span {{rankItem.User.Room.views}}

