.bxh-channel
	.title
		.left
			img(src='/images/bxh_icon.png')
			span BXH Channel
		.right.pull-right
			a(href='')
				|xem thêm
	.content
		.row
			- for (var i = 0; i < 9; i++)
				.col-md-4.item
					.top
						img(src='/images/bxh_item.png')
						button
							i.fa.fa-plus
					.name.text-center Phuong Vy
					.icon.text-center
						i.fa.fa-rss
						span 15.124

