#footer {
  a {
    color: #949099;
  }
  .footer-top {
    background: #362e3f;
    line-height: 20px;
    height: 56px;
    line-height: 55px;
    border: none;
    vertical-align: top;
    margin-bottom: -1px;

    .list-information li {
      color: #c0c0c0;
    }
    .hotline {
      color: #fff;
      font-size: 16px;
      .image {
        background: #232125;
      }
    }
  }
  .footer-bottom {
    background: #261d2f;
    padding: 30px 0 80px 0;

    .head {
      //color: #fff;
      //font-size: 16px;
      padding: 10px 0;
      margin-top: 10px;
      font-size: 13px;
      font-family: "Montserrat";
      color: rgba(255, 255, 255, 0.702);
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 30px;
    }
    .title {
      //color: #858585;
      //font-size: 12px;
        font-size: 12px;
        font-family: "Montserrat";
        color: rgba(255, 255, 255, 0.149);
        //line-height: 2.083;
        //position: absolute;
        //left: 135.911px;
        //top: 2773.494px;
        //z-index: 41;
    }
    .value {
      //color: #c0c0c0;
        font-size: 12px;
        font-family: "Montserrat";
        color: rgba(255, 255, 255, 0.502);
        //line-height: 1.5;
        //position: absolute;
        //left: 215.384px;
        //top: 2795.8px;
        //z-index: 44;
    }
    .android-ios {
      position: relative;
      line-height: 30px;
      padding-left: 40px;
      vertical-align: top;
      width: 65%;
      background: #31253c;
      border-radius: 20px;
      color: #a8a8a8;
      margin-top: 15px;
      font-size: 12px;
      .text-download{
          font-size: 12px;
          font-family: "Montserrat";
          color: rgba(255, 255, 255, 0.702);
          //line-height: 2.5;
          //position: absolute;
          //left: 535.882px;
          //top: 2803.5px;
          //z-index: 19;
      }
      i.fa {
        position: absolute;
        background: #433452;
        border-radius: 50%;
        padding: 10px 12px;
        font-size: 20px;
        top: -5px;
        color: #fff;
        left: -10px;
      }
    }

    .social-icon {
      background: #b4b4b4;
      font-size: 18px;
      border-radius: 50%;
      padding: 10px;
      margin: 2px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: 0.3s;
      color: #000;
      &:hover {
        background: #fff;
      }
    }

    .form-subscrice {
      position: relative;
      input {
        border-radius: 20px;
        background: #3a2d47;
        border: 1px solid #3a2d47;
        color: #fff;
        outline: none;
        height: 36px;
      }
      .btn-subsrice {
        position: absolute;
        right: 5px;
        top: 4px;
        height: 28px;
        line-height: 14px;
        border-radius: 20px;
        background: #fe1503;
        color: #fff;
        font-size: 14px;
        outline: none;
      }
    }
  }
}

ul.list-information {
  .title {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.702);
    //line-height: 2.5;
    //position: absolute;
    //left: 135.844px;
    //top: 2666.8px;
    //z-index: 24;
  }
}

ul.hotline {
  span.text-hotline {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.702);
    //line-height: 2.5;
    //position: absolute;
    //left: 983.937px;
    //top: 2637.5px;
    //z-index: 25;
  }
  span.text-phone {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.702);
    //line-height: 1.667;
    //position: absolute;
    //left: 1076.844px;
    //top: 2637.997px;
    //z-index: 31;
  }
}