.bxh-channel{
  .title{
    //line-height: 24px;

    .left{
      display: inline-block;
      span{
        font-size: 16px;
        font-weight: bold;
        margin-left: 5px;
      }
    }
    .right{
      a{
        color: #676767;
      }
    }
  }
  .content{
    margin-top: 0px;
    padding: 15px;
    .item{
      padding: 0;
      margin: 0 auto;
      //min-height: 150px;
      min-height: 120px;
      float: left;
      display: inline-block;
      text-align: center;
      margin-bottom: 5px;
      .top{
        position: relative;
        img{
          border-radius: 50%;
          width: 85%;
          margin: 1%;
          border: 1px solid #9c9fa2;
        }
        button{
          position: absolute;
          bottom: 5%;
          right: 5%;
          background: #a60efd;
          color: #fff;
          border: none;
          border-radius: 50%;
          padding: 0px;
          outline: none;
          width: 20px;
          height: 20px;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          &.unfollow{
            background: #fd1d11;
          }
        }
      }
      .name{
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon{
        font-size: 10px;
        color: #8b8b8b;
        .fa{
        margin-right: 5px;
        }
        span{
        }
      }
    }
  }

}