.home-slider{
  position: relative;
  .ui-carousel{
    overflow: hidden;
  }
  .carousel-prev, .carousel-next{
    position: absolute;
    top:45%;
    transform: translate(0%,-50%);
    overflow: hidden;
    button{
      background: #820f5a;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      border: none;
      color: #fff;
      outline: none;
      .fa{
        font-size: 25px;
      }
    }
  }
  .carousel-prev{
    left: -2%;
    button{
      padding: 0 0 0 10px;
    }
  }
  .carousel-next{
    right: -2%;
    button{
      padding: 0 10px 0 0;
    }
  }
  .download-link{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    .ios{
      border-right: 2px solid #bbb;
    }
    .ios, .android{
      a{
        display: inline-block;
        color: #cdcdcd;
        margin: 0 15px;
        text-decoration: none;
        &:hover{
          color:#fff;
        }
      }
    }
  }
}


.home-block-content{
  margin-top: 30px;
  margin-bottom: 30px;
  .group-title{
    margin: 0;
    padding: 3px;
    margin-top: 25px;
    font-size: 16px;
    a{
      cursor: pointer;
      text-decoration: none;
    }
    .left{
      display: inline-block;
      line-height: 20px;
      .fa{
        font-size: 20px;
        color: #74bbfe;
      }
      span{color: #000; font-weight: bold;}
    }
    .right{
      span{color: #000; font-weight: normal;}
      .fa{
        color: #8a8a8a;
        font-size: 16px;
        &:before{
          color: #000;
        }
      }
    }
  }

  .group-content
  {
    margin-top: 10px;
    .col-md-2{
      padding: 3px;
    }
    .item{
      width: 100%;
      text-align: center;
      background: #f6f5f5;
      padding: 0 0 10px 0;
      //margin: 1%;
      a{
        cursor: pointer;
        text-decoration: none;
      }
      .item-image{
        width: 100%;
      }
      .item-title{
        text-align: left;
        padding-left: 20px;
        padding-top: 5px;
        padding-right: 0;
        .value{
          font-size: 12px;
          color: #696969;
        }
        i.fa{
          font-size: 12px;
          color: #696969;
          margin: 0 2px 0 2px;
          line-height: 12px;
        }
        .title{
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          font-size: 14px;
          font-weight: bold;
          color: #696969;
        }
      }
      .item-favorite{
        padding: 0;
        .fa{
          font-size: 30px;
          margin-top: 10px;
          color: #6427a9;
          //margin-right: 10px;
        }
      }
    }
  }
}


.home-menu-category{
  background: #f2f2f2;
  color: #000;
  margin-top: 50px;
  padding: 10px 0;
  a{
    color: #6b6b6b;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  ul{
    margin: 10px 0;
  }
}