.bxh-channel {
  .title {
    //line-height: 24px;

    .left {
      display: inline-block;
      span {
        font-size: 16px;
        //font-weight: bold;
        font-weight: 600;
        margin-left: 5px;
        font-family: "Montserrat";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
      }
    }
    .right {
      a {
        color: #676767;
      }
    }
  }
  .content {
    margin-top: 0px;
    padding: 15px;
    .item {
      padding: 0;
      margin: 0 auto;
      //min-height: 150px;
      min-height: 120px;
      float: left;
      display: inline-block;
      text-align: center;
      margin-bottom: 5px;
      .top {
        position: relative;
        img {
          //border-radius: 50%;
          //width: 85%;
          //margin: 1%;
          //border: 1px solid #9c9fa2;
          border-radius: 50%;
          width: 85%;
          margin: 1%;
          border: 7px solid rgba(158, 158, 158, 0.5);
        }
        button {
          position: absolute;
          bottom: 5%;
          right: 5%;
          background: #a60efd;
          color: #fff;
          border: none;
          border-radius: 50%;
          padding: 0px;
          outline: none;
          width: 20px;
          height: 20px;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          &.unfollow {
            background: #fd1d11;
          }
        }
      }
      .name {
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 12px;
        font-family: "Montserrat";
        color: rgb(0, 0, 0);
        width: 90%;
        //text-transform: uppercase;
        //line-height: 2.308;
        //-moz-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
        //-webkit-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
        //-ms-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
        //position: absolute;
        //left: 1240.806px;
        //top: 903.085px;
        //z-index: 762;
      }
      .icon {
        font-size: 10px;
        color: #8b8b8b;
        .fa {
          margin-right: 5px;
        }
        span {
        }
      }
    }
  }

}