.nav_top_register_login{
  .image-logo-home{
    cursor: pointer;
  }
  padding: 3px 0 7px 0 ;
  background: #ffffff;
  line-height: 40px;
  a{
    color: #000;
  }
  .list-link{
    margin: 0 30px;
    li{
      display: inline-block;
      text-align: right;
      padding-left: 20px ;
      line-height: 20px;
      &:first-child{
        border-right: 1px solid #ccc;
        padding-right: 20px;
      }
    }
  }
}

.menu_main{
  vertical-align: middle;
  padding: 0;
  line-height: 50px;
  background: #280c45;
  height: 60px;
  .menu_main_list{
    line-height: 25px;
    color: #fff;
    margin-top: 15px;
    .menu_main_list_item{
      border-right: 1px solid #ccc;
      text-align: center;
      font-size: 16px;
      a{color: #cbcbcb;}
      &:hover{
        a{color: #fff ;text-decoration: none;}
        i{
          color :#ca0e54;
        }
      }
      &.lasted{
        border-right: 1px solid transparent;
      }
    }
  }
  .search-form-top{
    .input-group{
      width: 350px;
      line-height: 35px;
      margin-top: 12.5px;
    }
  }
}