.notifycation{
  .black{
    color: #000;
    font-weight: bold;
  }
  .pointer{
    cursor: pointer;
  }
  .unread{
    font-weight: bold;
    background: #fff;
    .fa-star{
      color: #a94442;
    }
  }
  .read{
    font-weight: normal;
    background: rgba(0, 0, 0, 0.1);
  }
}