.register {
  background: #fff;
  margin: 50px auto 70px auto;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
  padding: 20px 0 50px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);

  label {
    display: block;
    margin-bottom: 0;
  }
  span {
    color: #c0c0c0;
  }
  .text-dang-ki {
    font-size: 17px;
    font-family: "Montserrat";
    color: rgb(60, 21, 100);
  }

  .left-label {
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(33, 33, 33);
  }
  .min-6-character {
    font-size: 13px;
    font-family: "Montserrat";
    color: rgba(68, 68, 68, 0.902);
  }
  .form-control {
    border-radius: 0px !important;
    padding: 5px 10px;
    height: 40px;
    line-height: 30px;
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    &:focus{
      border: 1px solid #73bafc !important;
      box-shadow: none !important;
      background: #fff !important;
    }
  }
  .title {
    color: #3c1564;
    font-size: 20px;
    padding: 0 0 0px 0;
    span {
      color: #3c1564;
      margin-left: 10px;
      //font-weight: bold;
    }
  }
  .content {
    padding-top: 40px;
    .row {
      margin: 35px -15px;
    }
  }
  .btn-dang-ki {
    background: #288cfd;
    border: #288cfd;
    outline: none;
    color: #fff;
    border-radius: 2px;
    padding: 10px 20px;
  }
  .text-toi-dong-y {
    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(33, 33, 33);
    //line-height: 2.692;
    //position: absolute;
    //left: 593.136px;
    //top: 606.889px;
    //z-index: 78;
  }
}