.register{
  background: #fff;
  margin: 50px auto 70px auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px 0 50px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

  label{
    display: block;
    margin-bottom: 0;
  }
  span{
    color: #c0c0c0;
  }
  .title{
    color: #3c1564;
    font-size: 22px;
    padding: 0 0 0px 0;
    span{
      color: #3c1564;
      margin-left: 10px;
      //font-weight: bold;
    }
  }
  .content{
    padding-top: 20px;
    .row{
      margin: 20px -15px;
    }
  }
}