.schedule {
  background: #fff;
  margin: 50px auto;
  border: 1px solid #e0e0e0;
  border-radius: 0px !important;
  padding: 40px;

  .select-search-dropdown {
    opacity: 0.7;
    font-family: "Montserrat";
    font-size: 15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
  }

  .text-hom-nay {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-bottom: 19px;
  }
  .table-th-text{
    opacity: 0.7;
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 15px 0 15px 26px;
  }
  .follow {
    span {
      font-size: 12px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      //line-height: 2.5;
      //-moz-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
      //-webkit-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
      //-ms-transform: matrix( 0.93271461716937,0,0,0.93103448275862,0,0);
      //position: absolute;
      //left: 1163.17px;
      //top: 425.5px;
      //z-index: 306;
    }
  }
  .head-title {
    margin: 0;
    padding: 0;
  }
  .text-lich-dien {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #000000;
  }
  .text-hien-thi {
    font-family: "Montserrat";
    font-size: 15px;
    text-align: left;
    color: #000000;
  }
  .schedule-line-hr{
    margin-top: 36px;
    margin-bottom: 49px;
    height: 1px;
    border-radius: 0.5px;
    background-color: #efefef;
  }

  select.form-control {
    display: inline-block;
    width: auto;
    margin: 0 7px;
    padding: 0 15px;
  }
  button.btn-search {
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #dedede;
    i.fa-search {
      color: #565656;
      font-size: 16px;
    }
  }

  .title-table {

  }

  .group-image-name {
    padding: 10px 0 10px 18px;
    img.img-responsive {
      display: inline-block;
      width: 20%;
      border-radius: 50%;
    }
    .name {
      display: inline-block;
      line-height: 100%;
      vertical-align: middle;
      margin-left: 10px;
      p {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        text-align: left;
        color: #000000;
      }
      i.fa {
        margin: 5px;
        opacity: 0.7;
        //font-family: Montserrat;
        font-size: 11.7px;
        line-height: 1.57;
        text-align: left;
        color: rgba(24, 24, 24, 0.7);
        margin-top: 0px;
      }
      span {
        margin-right: 5px;
        opacity: 0.7;
        font-family: Montserrat;
        font-size: 11.7px;
        line-height: 1.57;
        text-align: left;
        color: rgba(24, 24, 24, 0.7);
      }
    }
  }
  .group-time-follow {
    padding: 10px 0 10px 18px;
    .time {
      display: inline-block;
      width: 30%;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 600;
      text-align: left;
      color: #000000;
    }
    .follow {
      display: inline-block;
      width: 67%;
      text-align: right;
      button {
        &.unfollow {
          background: #fe1503;
        }
        border: none;
        outline: none;
        //background: #a70efe;
        color: #fff;
        //border-radius: 20px;
        padding: 5px 16px;
        border-radius: 11px;
        background-color: #a60efd;
        line-height: 13px;
        //height: 20px;
        span{
          font-family: Montserrat;
          font-size: 11px;
          //line-height: 2.5;
          text-align: left;
          color: #ffffff;
        }
      }
    }
  }

  .list-room-schedule-following {
    list-style: none;
    //overflow: scroll;
    //overflow-x: scroll;
    overflow-x: hidden;
    width: auto;
    white-space: nowrap;

    .text-lich-phat-song-idol-cua-ban{
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 500;
      text-align: left;
      color: #000000;
    }
    .list-inline-item {
      margin: 10px 30px;
      list-style: none;
    }
    .carousel-item {
      margin-right: 20px;
    }
    .image-idol {
      position: relative;
      cursor: pointer;
      &.selected {
        img {
          box-shadow: 0px 0px 20px #c3005f;
        }
      }
      img {
        width: 100%;
        display: block;
        border-radius: 50%;
      }
      button {
        position: absolute;
        bottom: 20%;
        outline: none;
        right: 5%;
        border: none;
        background: #ed266b;
        color: #fff;
        line-height: 20px;
        width: 20px;
        font-size: 12px;
        height: 20px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #fff;
      }
    }
    .name-idol {
      font-family: Montserrat;
      font-size: 12px;
      text-align: center ;
      color: #000000;
      margin-top: 12px;
    }
  }

}

.schedule-modal-detail {
  .modal-body {
    padding: 0 15px 15px 15px;
  }
  .title-main {
    font-size: 20px;
    font-weight: bold;
  }
  i.fa.fa-close {
    margin: 5px;
    z-index: 9999;
    cursor: pointer;
    color: #000;
    font-size: 20px;
  }

  .group-image {
    display: inline-block;
    width: 15%;
    .image {
      border-radius: 50%;
    }
  }
  .group-name {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    .group-icon {
      .fa {
        margin-right: 5px;
      }
      span {
        margin-right: 10px;
      }
    }
  }
  .btn-follow {
    border: none;
    outline: none;
    background: #a70efe;
    color: #fff;
    border-radius: 40px;
    padding: 3px 15px;
    &.btn-get-noty {
      background: #ce75fe;
    }
  }
  .label-hour {
    font-size: 12px;
  }
  .hour {
    font-weight: bold;
  }
}