@import "animation";
@import "common";
@import "nav_top_register_login";
@import "footer";
@import "home";
@import "home_on_air_channel";
@import "home_bxh_channel";
@import "register";
@import "login";
@import "bang_xep_hang";
@import "policy";
@import "profile";
body{
  background: #fafafa;
  font-family: 'Montserrat', sans-serif;
}


.about_us{
  h5{
    color: #c0c0c0;
  }
  .text{
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
    padding: 20px;
  }
}