@import "nav_top_register_login";
@import "footer";
@import "home";
@import "home_on_air_channel";
body{
  background: #efefef;
}

.wrapper{
  background: #fff;
  margin: 50px auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 40px;
}

.about_us{
  h5{
    color: #c0c0c0;
  }
  .text{
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
    padding: 20px;
  }
}