.container
	.register.wrapper
		.title.text-center
			i.fa.fa-user
			span ĐĂNG KÍ
		hr
		.content
			.row
				.col-md-5.text-right
					label Tên người dùng *
					span tối thiểu 6 kí tự
				.col-md-4
					input.form-control(type='text' placeholder='' value='')
			.row
				.col-md-5.text-right
					label Số điện thoại *
				.col-md-4
					input.form-control(type='text' placeholder='' value='')
			.row
				.col-md-5.text-right
					label Mật khẩu
					span tối thiểu 6 kí tự
				.col-md-4
					input.form-control(type='text' placeholder='' value='')
			.row
				.col-md-5.text-right
					label Nhập lại mật khẩu
				.col-md-4
					input.form-control(type='text' placeholder='' value='')
			.row
				.col-md-5.text-right
					|&nbsp;
				.col-md-7
					input(type='checkbox')
					|&nbsp; Tôi đồng ý với các &nbsp;
					a() Điều khoản sử dụng
					|&nbsp; và &nbsp;
					a() Chính sách bảo mật
			.row
				.col-md-5.text-right
					| &nbsp;
				.col-md-5
					button.btn.btn-primary Đăng ký