.schedule-modal-detail
	.text-right
		i.fa.fa-close(ng-click='cancel()')
	.modal-body
		h1.text-center(ng-if='!item.id') Tạo lịch diễn
		h1.text-center(ng-if='item.id') Thay đổi lịch diễn

		.row
			.col-md-3
				label Tiêu đề
			.col-md-9
				input.form-control(ng-model='item.title' placeholder='')
		.row
			.col-md-3
				label Bắt đầu
			.col-md-9
				datetimepicker(
				ng-model="scheduleDate.start"
				date-format="dd-MM-yyyy"
				date-options="dateOptions"
				show-spinners="true"
				)
			.col-md-10
				button.pull-right.btn.btn-primary(ng-click='addOrEdit()') Cập nhật



