.row.setting-notify
	.col-md-12.header
		h1 Cài Đặt Thông Báo
		p
			span.bg-danger HOT &nbsp;
			|Tặng 50% cho khách hàng nạp thẻ ngày hôm nay
	.col-md-12.body
		.row
			.col-md-8
				.title Chương trình đang diễn
				.description
					input#toggle-one(type='checkbox', checked='', data-toggle='toggle', data-onstyle='primary' data-on="Enabled" data-off="Disabled")
					//input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='success')
					//input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='info')
					//input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='warning')
					//input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='danger')
					//input(type='checkbox', checked='', data-toggle='toggle', data-onstyle='default')
			.col-md-4
		.row
			.col-md-8
				.title Chương trình đang diễn từ các idol đang follow
				.description
			.col-md-4
		.row
			.col-md-8
				.title Chương trình đang diễn từ các idol đang follow
				.description
			.col-md-4

